:root {
    --green:#00aa14;
    --christmas-theme-red: #E2344D;
    --black: #000;
    --primary-shadow-inset: inset 0px 3px 6px 0px rgba(0,0,0,0.16);
}

   @font-face {
    font-family:AvertaPE;
    font-display:swap;
    src:url(../../fonts/Averta-Bold.ttf);
    src: url(../../fonts/Averta-Bold.ttf) format("truetype");
    font-weight:700
   }

   @font-face {
    font-family:AvertaPE;
    font-display:swap;
    src:url(../../fonts/Averta-SemiBold.ttf);
    src: url(../../fonts/Averta-SemiBold.ttf) format("truetype");
    font-weight:600
   }

   @font-face {
    font-family:AvertaPE;   --primary-shadow-inset: inset 0px 3px 6px 0px rgba(0,0,0,0.16);
    font-display:swap;
    src:url(../../fonts/AvertaDemoPE-Regular.otf);
    src: url(../../fonts/AvertaDemoPE-Regular.otf) format("opentype");
    font-weight:400
   }

body {
    background-color: var(--christmas-theme-red);
    overflow-x: hidden;
}


h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 40px;
        line-height: 43px;
    }
}


.btn.btn--arrow.btn-default.btn--bordered.btn--revert-color:after {
    width:14px;
    height:14px;
    background-image:url(../../images/icons/btn-arrow-text-green.svg);
    background-size:contain
   }

.hero-section {
    position: relative;
    background: url(../../images/landing-banner-christmas.png) no-repeat 50% 100%;
    background-size: cover;
    padding: 115px 0 94px 0;
}

@media (max-width: 992px) {
    .hero-section {
        padding: 46px 0 29px 0;
        height: 583px;
        background: url(../../images/christmas-hero-mobile.png) no-repeat 60% 100%;
        background-size: cover;
    }
}

.hero-section:after, .hero-section:before {
    content: "";
    position: absolute;
    top: 50px;
    background: url(../../images/icons/b-layer-right.svg) no-repeat;
    background-size: contain;
    width: 177px;
    height: 289px;

}

@media (max-width: 768px) {
    .hero-section:after, .hero-section:before {
        width: 107px;
        height: 175px;
        top: 50%;
    }
}

.hero-section:after {
    transform: translateX(50%);
    right: 0;
}

@media (max-width: 768px) {
    .hero-section:after {
        transform: translate(50%, -50%);
    }
}

.hero-section:before {
    transform: translateX(-50%);
    left: 0;
}

@media (max-width: 768px) {
    .hero-section:before {
        transform: translate(-50%, -50%);
    }
}



.hero-section .container, .hero-section .row  {
    height: 100%;
}

.hero-section h3 {
    margin-top: 21px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    color: var(--white);
}
@media (max-width: 992px) {
    .hero-section h3 {
        font-size: 20px;
        line-height: 23px;
        margin-top: 10px;
    }
}

.hero-section .btn {
    width: 240px;
    height: 48px;
}
 
@media (max-width: 992px) {
    .hero-section .btn {
        margin: auto auto 0 auto;
    }
}

.categories_row {
    gap: 88px 0; 
}

@media (max-width: 768px) {
    .categories_row {
        gap: 56px 0; 
    }
}

.category_card {
    padding: 21px;
    border-radius: 12px;
    background-color: var(--white);
    height: 100%;
}

@media (max-width: 576px) {
    .category_card {
        padding: 18px;
        max-width: 375px;
        margin: 0 auto;
    }
}

.category_card h3 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 11px;
    margin-top: 17px;
    text-align: center;
    color: var(--black);
}

@media (max-width: 768px) {
    .category_card h3 {
        font-size: 25px;
        line-height: 25px;
    }
}

.category_card > img {
    margin-top: -81px;
    height: 100%;
    max-height: 327px;
    width: 100%;
    object-fit: contain;
}
@media (max-width: 768px) {
    .category_card > img {
        max-height: 208px;
        margin-top: -58px;
    }
}

.category_card .btn {
    width: 190px;
}

@media (max-width: 576px) {
    .category_card .btn {
        width: 120px;
    }
}

.toggle-client {
    margin-bottom: 118px;
}

@media (max-width: 576px) {
    .toggle-client {
        margin-bottom: 68px;
    }
}

.toggle-client .nav-tab {
    position: relative;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    background-color: var(--white);
    border: 1px solid var(--white);
    -webkit-box-shadow:  var(--primary-shadow-inset); 
    box-shadow:  var(--primary-shadow-inset);
    margin: 0 auto;
}

@media (max-width: 576px) {
    .toggle-client .nav-tab {
        width: 335px;
    }
}
@media (max-width: 375px) {
    .toggle-client .nav-tab {
        width: 100%;
    }
}

.toggle-client .toggle-button__slider {
    position: absolute;
    top: 4px;
    width: calc(50% - 5px);
    height: 38px;
    border-radius: 40px;
    left: 5px;
    background-color: var(--black);
    z-index: 1;
    transition: all 0.3s ease-out;
    transform: translate(100%);
    pointer-events: none;
}
@media (max-width: 375px) {
    .toggle-client .toggle-button__slider {
        left: 3px;
        width: calc(50% - 3px);
    }
}

.toggle-client .toggle-button-text {
    position: relative;
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    text-decoration: none;
    height: 38px;
    width: 50%;
    text-align: center;
    z-index: 2;
}

@media (max-width: 576px) {
    .toggle-client .toggle-button-text {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .toggle-client .toggle-button-text {
        font-size: 11px;
    }
}

.toggle-client .toggle-button-text.active {
    color: var(--white);
}

.toggle-client .toggle-button-text.active ~ .toggle-button__slider {
    transform: translate(0);
    background-color: var(--green);
    transition: all 0.3s ease-out;
}

.game-banner {
    position: relative;
    background-color: var(--white);
    box-shadow:  0px 0px 19px 3px rgba(0,0,0,0.47);

}

.game-banner .white-wrap {
    background-color: var(--white);
}

.game-banner > .container, .game-banner > .white-wrap > .container {
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.game-banner.game-banner--collapsed > .container {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.game-banner:not(.game-banner--sticky) > .container {
    max-height: 510px;
}

.game-banner:not(.game-banner--sticky).game-banner--collapsed > .container {
    max-height: 0;
}


.game-banner .game-banner_content {
    padding-bottom: 48px;
}

.game-banner .game-banner-toggler {
    text-align: center;
    height: 101px;
    display: flex;
    align-items: center;   
}
@media (max-width: 768px) {
    .game-banner .game-banner-toggler{
        height: 80px;
    }
}

.game-banner .game-banner-toggler h6{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .game-banner .game-banner-toggler h6{
        font-size: 20px;
    }
}

.game-banner .game-banner_content h5 {
    display: none;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 41px;
}

@media (max-width: 768px) {
    .game-banner .game-banner_content h5 {
        font-size: 20px;
    }
}

.game-banner .game-banner-arrow-toggler {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);
    height:30px;
    width: 90px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1811 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 0 C 451 0 451 494 903 494 L 903 494 L 903 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 900 494 C 1356 494 1356 0 1811 0 L 1811 0 L 1811 0 L 901 0 Z" stroke-width="0"></path> </svg>');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.game-banner .game-banner-arrow-toggler::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 14px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transition: all 0.3s ease-in;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.828' height='8.414' viewBox='0 0 14.828 8.414'%3E%3Cg id='Icon' transform='translate(13.414 1.414) rotate(90)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M0,0,6,6,0,12' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.game-banner.game-banner--collapsed .game-banner-arrow-toggler::after {
    transform: translateX(-50%) rotate(0);
}

.game-banner.game-banner--sticky {
   position: fixed;
   max-height: 100vh;
   overflow-y: auto;
   z-index: 20;
   bottom: 0;
   left: 0;
   right: 0;
   transition: all 0.4s ease-in-out;
   padding-top: 30px;
   background-color: transparent;
   transform: translateY(0);
   box-shadow: none;
}

.game-banner.game-banner--sticky.game-banner--collapsed {
    transform: translateY(calc(100% - 91px));
}

.game-banner.game-banner--sticky .game-banner-toggler {
    background-color: var(--green);
    height: 68px;
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.47);
}

@media (max-width: 768px) {
    .game-banner.game-banner--sticky .game-banner-toggler {
        height: 78px;
    }
    .game-banner.game-banner--sticky.game-banner--collapsed {
        transform: translateY(calc(100% - 98px));
    }
}

.game-banner.game-banner--sticky .game-banner-toggler h6{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
}

@media (max-width: 768px) {
    .game-banner.game-banner--sticky .game-banner-toggler h6 {
        font-size: 18px;
    }
}

.game-banner.game-banner--sticky .game-banner_content {
    padding-top: 122px;
}
@media (max-width: 768px) {
    .game-banner.game-banner--sticky .game-banner_content {
        padding-top: 82px;
    }
}

.game-banner.game-banner--sticky .game-banner_content h5{
    display: block;
}

.game-banner.game-banner--sticky::after {
    content: "";
    position: absolute;
    background: url(../../images/icons/xmas-banner-decor.svg) 50% no-repeat;
    top: 120px;
    left: 0;
    right: 0;
    height: 42px;
} 

@media (max-width: 992px) {
    .game-banner.game-banner--sticky::after {
        height: 31px;
        background-size: cover;
        top: 130px;
    }
}

.game-banner.game-banner.game-banner--sticky .game-banner-arrow-toggler {
    top: 31px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1811 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(0, 170, 20, 1)" d="M 0 0 C 451 0 451 494 903 494 L 903 494 L 903 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(0, 170, 20, 1)" d="M 900 494 C 1356 494 1356 0 1811 0 L 1811 0 L 1811 0 L 901 0 Z" stroke-width="0"></path> </svg>');
    transform: translate(-50%, -100%) rotate(180deg);
}

.game-banner.game-banner.game-banner--sticky .game-banner-arrow-toggler::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    transition: all 0.3s ease-in;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.828' height='8.414' viewBox='0 0 14.828 8.414'%3E%3Cg id='Icon' transform='translate(1.414 7) rotate(-90)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M0,0,6,6,0,12' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");    background-size: contain;
    background-repeat: no-repeat;
}

.game-banner.game-banner.game-banner--sticky.game-banner--collapsed .game-banner-arrow-toggler::after {
    transform: translateX(-50%) rotate(180deg);
}

.game-banner_content .button-wrap {
    gap: 34px;
    margin-top: 60px;
}

.game-banner_content .button-wrap a {
    width: 240px;
}

@media (max-width: 576px) {
    .game-banner_content .button-wrap {
        gap: 17px;
        margin-top: 33px;
    }
}


.game-banner_content .game-banner_steps {
    width: 100%;
    max-width: 940px;

}
@media (max-width: 992px) {
    .game-banner_content .game-banner_steps {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .game-banner_content .game-banner_steps {
        flex-direction: column;
        gap: 20px;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .game-banner_content .game-banner_steps {
        
    }
}

.game-banner_content .game-banner_steps .game-banner_step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@media (max-width: 992px) {
    .game-banner_content .game-banner_steps .game-banner_step {
        flex-direction: row;
        text-align: start;
    }
}

.game-banner_content .game-banner_steps .game-banner_step .icon-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 28px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    -webkit-box-shadow:  var(--primary-shadow-inset); 
    box-shadow:  var(--primary-shadow-inset);
}

@media (max-width: 992px) {
    .game-banner_content .game-banner_steps .game-banner_step .icon-wrap {
        margin-bottom: 0;
        margin-right: 18px;

    }
}

.game-banner_content .game-banner_steps .game-banner_step .icon-wrap .game-banner_step-number {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid var(--green);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: var(--green);
}

.game-banner_content .game-banner_steps .game-banner_step h6 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .game-banner_content .game-banner_steps .game-banner_step h6 {
        font-size: 20px;
    }
}

.game-banner_content .game-banner_steps .game-banner_step h6 span {
    color: var(--green);
    font-weight: 700;
}

.christmas-offers {
    padding-top: 107px;
    padding-bottom: 107px;
}

@media (max-width: 768px) {
    .christmas-offers {
        padding-top: 60px;
    }
}

.features {
    max-width: 650px;
    margin-bottom: 70px;
    margin-top: 61px;
    gap: 30px;
}

@media (max-width: 992px) {
    .features {
        max-width: 500px;
        margin-top: 26px;
        margin-bottom: 40px;
        gap: 15px;
    }
}

@media (max-width: 576px) {
    .features {
        max-width: 350px;
    }
}


.features .feature:nth-child(2) h5 {
    max-width: 206px;
}

.features .feature h5 {
    color: var(--white);
    margin-left: 28px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    max-width: 326px;
}

@media (max-width: 992px) {
    .features .feature img {
        width: 42px;
    }
    .features .feature h5 {
        font-size: 13px;
        margin-left: 10px;
        line-height: 14px;
    }
}

@media (max-width: 1200px) {
    .sticky-header__main {
            background-color: var(--white);
            position: fixed;
            width: 90vw;
            top: 0;
            padding: 48px 15px 0 15px;
            right: auto;
            overflow-y: auto;
            min-height: 100vh;
            right: -100%;
            display: block !important;
            transition: .3s;
            z-index: 20;
            height: 100%
    }
    .sticky-header__sub {
        background-color: var(--white);
    }
}

@media (max-width: 1200px) {
    .sticky-header__main.show {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .sticky-header__sub .main-menu {
        background-color: var(--white);
        position: fixed;
        width: 90vw;
        top: 0;
        padding: 48px 15px 0 15px;
        right: auto;
        overflow-y: auto;
        min-height: 100vh;
        right: -100%;
        display: block !important;
        transition: .3s;
        z-index: 20;
        height: 100%
    }
}

.mobile-menu-toggler .icon {
    width: 23px;
    height: 23px;
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .user-menu .icon {
        width: 23px;
    }
    .main-logo .icon {
        height: 30px;
        width: 60px;
    }
}

@media (max-width: 576px) {
    .user-menu__item .user-menu__link {
       padding: 10px;
    }
}


@media (max-width: 1200px) {
    .bite-search-form.main-search {
        position: absolute;
    }
}

@media (max-width: 1200px) {
    .user-menu__item .user-menu__link span {
       display: none;
    }
}



